@model SEMSystem.Models.Area

@{
    ViewData["Title"] = "Create";
}

<div class="ibox-content">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row form-group">

            <label class="col-md-2 col-form-label" style="padding-top:5px;" asp-for="Code"></label>
            <div class="col-md-4">
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <label class="col-md-2 col-form-label" style="padding-top:5px;" asp-for="Name"></label>
            <div class="col-md-4">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

        </div>
        <div class="row form-group">
            <label class="col-md-2 col-form-label" style="padding-top:5px;" asp-for="CompanyId"></label>
            <div class="col-md-4">
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </form>
</div>


        <div>
            <a asp-action="Index">Back to List</a>
        </div>
        <script>
     $("input[type=text]").keyup(function () {
        $(this).val($(this).val().toUpperCase());
    });
        </script>

