@model SEMSystem.Models.Area

@{
    ViewData["Title"] = "Edit";
}
<style>
    .error-input {
        border-color: hsl(0, 76%, 50%) !important;
    }
    table a {
        color: white !important;
    }
</style>
<div class="ibox-content">
    <h1>Area</h1>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="row form-group">

            <label class="col-md-2 col-form-label" style="padding-top:5px;" asp-for="Code"></label>
            <div class="col-md-4">
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <label class="col-md-2 col-form-label" style="padding-top:5px;" asp-for="Name"></label>
            <div class="col-md-4">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

        </div>
        <div class="row form-group">
            <label class="col-md-2 col-form-label" style="padding-top:5px;" asp-for="CompanyId"></label>
            <div class="col-md-4">
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </form>
    <h3>Location</h3>

    <form asp-action="Edit" id="frmLocation">
        @*Fire Extinguisher*@
        <div class="col-lg-12" id="divFE" style="padding:0px!important;">
            <div class="ibox float-e-margins border-bottom">
                <div class="ibox-title">
                    <h5>Fire Extinguisher <small></small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-down"></i>
                        </a>

                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display:none;">
                    <div class="form-group">
                        <script id="FEtemplate" type="text/template">
                            <td>
                                <input type="hidden" name="detail_id[]" />
                                <input class="form-control" type="text" placeholder="Location" name="location[]" required />
                            </td>
                            <td><input class="total form-control" type="text" placeholder="Code" name="code[]" required /></td>
                            <td><input class="quantity form-control" type="text" placeholder="Type" name="type[]" required /></td>
                            <td><input class="cost form-control" type="text" placeholder="Capacity" name="capacity[]" required /></td>
                            <td>
                                <a class="remFE btn btn-danger btn-xs"><span title="Delete" class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </script>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th>Location</th>
                                    <th width="10%">Code</th>
                                    <th width="15%">Type</th>
                                    <th width="10%">Capacity </th>
                                    <th width="5%">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="p_FE">
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <input type="hidden" name="detail_id[]" />
                                        <input class="form-control" type="text" placeholder="Location" name="location[]" required />
                                    </td>
                                    <td><input class="total form-control" type="text" placeholder="Code" name="code[]" required /></td>
                                    <td><input class="quantity form-control" type="text" placeholder="Type" name="type[]" required /></td>
                                    <td><input class="cost form-control" type="text" placeholder="Capacity" name="capacity[]" required /></td>
                                    <td><button class="addFE btn btn-default" type="button"><i class="fa fa-plus"></i> </button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <p>

                        <a href="#" onclick="saveGatePass('FE');">
                            <i class="fa fa-check"></i>
                            <span class="email-text">&nbsp;Save</span>
                        </a> <text> |&nbsp; </text>




                        <a href="#" onclick="printGatePass();">
                            <i class="fa fa-print"></i>
                            <span class="print">&nbsp;Print</span>
                        </a>





                    </p>



                </div>
            </div>
        </div>
    </form>

        @*<div class="col-lg-12" id="divFireHydrant" style="padding:0px!important;">
                <div class="ibox float-e-margins border-bottom">
                    <div class="ibox-title">
                        <h5>Fire Hydrant <small></small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="display:none;">
                    </div>
                </div>
            </div>
            <div class="col-lg-12" id="divEmergencyLight" style="padding:0px!important;">
                <div class="ibox float-e-margins border-bottom">
                    <div class="ibox-title">
                        <h5>Emergency Light <small></small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="display:none;">
                    </div>
                </div>
            </div>
            <div class="col-lg-12" id="divInergenSystem" style="padding:0px!important;">
                <div class="ibox float-e-margins border-bottom">
                    <div class="ibox-title">
                        <h5>Inergen System <small></small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="display:none;">
                    </div>
                </div>
            </div>
            <div class="col-lg-12" id="divBicycle" style="padding:0px!important;">
                <div class="ibox float-e-margins border-bottom">
                    <div class="ibox-title">
                        <h5>Bicycle <small></small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="display:none;">
                    </div>
                </div>
            </div>
            <div class="col-lg-12" id="divEPREquipment" style="padding:0px!important;">
                <div class="ibox float-e-margins border-bottom">
                    <div class="ibox-title">
                        <h5>EPR Equipment <small></small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="display:none;">
                    </div>
                </div>
            </div>*@
        <a asp-action="Index">Back to List</a>
</div>


<script>
     $("input[type=text]").keyup(function () {
        $(this).val($(this).val().toUpperCase());
    });

    var FEDiv = $('#p_FE');

    $(document).on('click', '.addFE', function () {
        var i = $('#p_FE tr').length + 1;
        var $tr = $('<tr>').append('<td>' + i + '</td>' + $('#FEtemplate').html());
        FEDiv.append($tr);
    })
    $(document).on('click', '.remFE', function () {

        var i = $('#p_FE tr').length;
        if (i > 1) {
            $(this).closest('tr').remove();
        }
        return false;
    });

    function saveGatePass($type) {
        var cnt = 0;

        $('form').find('input').each(function () {
            if ($(this).prop('required')) {

                if (!$(this).val()) {
                    cnt = 1;
                    $(this).addClass("error-input");
                } else {
                    $(this).removeClass("error-input");
                }

            }
        });

        if (cnt > 0) {
            toastr["error"]("Fill all required fields", "Error")
            toastr.options = {
                "closeButton": true,
                "showDuration": "3000",
            }
            return false;
        }

        var data = $("#frmLocation").serializeArray();
        data.push({ name: 'Equipment', value: $type });
        data.push({ name: 'AreaId', value: @Model.ID });

        //console.log(data);
        //return false;
        $.ajax({
            url: "@Url.Action("SaveLocation")"
            , method: "POST"
            , data: data
            , dataType: 'json'
             , success: function (responsedata) {
               
                if (responsedata.status == "success") {

                    toastr["success"]("Item saved!", "<b>Success</b> ")
              

                } else {

                    toastr["error"](responsedata.message)
                    toastr.options = {
                        "closeButton": true,
                        "showDuration": "3000",
                    }
                }
            }
        })


    }
</script>



