@model SEMSystem.Models.Item

@{
    ViewData["Title"] = "Create";
}

<div class="col-md-12">
    <div class="panel panel-success">
        <div class="panel-heading">
            Create Items
        </div>
        <div class="panel-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row form-group">

                    <label class="col-md-2 col-form-label" style="padding-top:5px;" asp-for="Name"></label>
                    <div class="col-md-4">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <label class="col-md-2 col-form-label" style="padding-top:5px;" asp-for="DatePurchased"></label>

                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input asp-for="DatePurchased" class="form-control datepickerDate" value="" />
                            <span asp-validation-for="DatePurchased" class="text-danger"></span>
                        </div>
                    </div>




                </div>
                <div class="row form-group">

                    <label class="col-md-2 col-form-label" style="padding-top:5px;" asp-for="SerialNo"></label>
                    <div class="col-md-4">
                        <input asp-for="SerialNo" class="form-control" />
                        <span asp-validation-for="SerialNo" class="text-danger"></span>
                    </div>

                    <label class="col-md-2 col-form-label" style="padding-top:5px;">Warranty (Months)</label>
                    <div class="col-md-4">
                        <input asp-for="Warranty" class="form-control" onkeypress="return isNumberKey(event)" value="0" onfocus="this.select();" onmouseup="return false;" />
                        <span asp-validation-for="Warranty" class="text-danger"></span>
                    </div>

                </div>
                <div class="row form-group">
                    <label class="col-md-2 col-form-label" style="padding-top:5px;" asp-for="ItemStatus"></label>
                    <div class="col-md-4">

                        <select id="ItemStatus" name="ItemStatus" class="form-control col-md-12">
                            <option value="Good">Good</option>
                            <option value="For Refill">For Refill</option>
                            <option value="For Repair">For Repair</option>
                            <option value="For Recharge">For Recharge</option>
                            <option value="For Replacement">For Replacement</option>
                            <option value="Damaged">Damaged</option>
                        </select>
                        <span asp-validation-for="ItemStatus" class="text-danger"></span>
                    </div>


                    <label class="col-md-2 col-form-label" style="padding-top:5px;">Expiration Date</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input id="ExpirationDate" name="ExpirationDate" class="form-control datepickerDate" disabled />
                        </div>
                    </div>
                </div>

                <div class="row form-group">

                    <label class="col-md-2 col-form-label" style="padding-top:5px;">Capacity</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input asp-for="Capacity" class="form-control" />
                            <span asp-validation-for="Capacity" class="text-danger"></span>
                        </div>
                    </div>
                    <label class="col-md-2 col-form-label" style="padding-top:5px;">Type</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input asp-for="Type" class="form-control" />
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                    </div>

                </div>


                <div class="row form-group">

                    <label class="col-md-2 col-form-label" style="padding-top:5px;" asp-for="EquipmentType"></label>
                    <div class="col-md-4">
                        <select id="EquipmentType" name="EquipmentType" class="form-control col-md-12">
                            <option value="Fire Extinguisher">Fire Extinguisher</option>
                            <option value="Emergency Light">Emergency Light</option>
                            <option value="Fire Hydrant">Fire Hydrant</option>
                            <option value="Inergen Tank">Inergen Tank</option>
                        </select>
                        <span asp-validation-for="EquipmentType" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>




            </form>
        </div>

    </div>
</div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
<script>
    $(function () {
        $('.datepickerDate').datetimepicker({
            format: 'm/d/Y',
            timepicker: false,
        });
        
    })

    $("#DatePurchased").change(function () {

        var newDate = new Date($(this).val());
        var warranty = isNaN(parseInt($("#Warranty").val())) ? 0 : parseInt($("#Warranty").val());
        newDate.setMonth(newDate.getMonth() + warranty);
        $('#ExpirationDate').val(moment(newDate).format("MM/DD/YYYY"));
    })

    $("#Warranty").change(function () {
       


        var datePurchase = $('#DatePurchased').val();
        var newDate = new Date(datePurchase);
 
        newDate.setMonth(newDate.getMonth() + parseInt($(this).val()));
       
        $('#ExpirationDate').val(moment(newDate).format("MM/DD/YYYY"));

        
       
    })



   




    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>
        <script>
            $("input[type=text]").keyup(function () {
                $(this).val($(this).val().toUpperCase());
            });
        </script>

