@{
    ViewData["Title"] = "Dashboard";
}
<style>
    .modal-lg {
        width: 60% !important
    }

    .btn-app {
        position: relative;
       
        margin: 0 0 10px 10px;
        min-width: 80px;
        height: 120px;
        width : 120px;
        color: #666;
        border: 1px solid #ddd;
        background-color: #f4f4f4;
        font-size: 12px;
    }

        .btn-app > .mdi {
            font-size: 20px;
            display: block;
        }
</style>

<link href="~/css/materialdesignicons.min.css" rel="stylesheet">
<title>@ViewData["Title"] </title>
<div class="card-body">
    <h4 class="card-title">Equipments</h4>
    <div class="box-body">
        <a class="btn btn-app" href="https://spos.tecdiary.com/products">
            <i class="mdi mdi-barcode"></i> Fire Extinguisher
        </a>
        <a class="btn btn-app" href="https://spos.tecdiary.com/categories">
            <i class="mdi mdi-folder-open"></i> Fire Hydrant
        </a>
        <a class="btn btn-app" href="https://spos.tecdiary.com/gift_cards">
            <i class="mdi mdi-cards"></i> Emergency Light
        </a>
        <a class="btn btn-app" href="https://spos.tecdiary.com/customers">
            <i class="mdi mdi-human"></i> Inergen System
        </a>
        <a class="btn btn-app" href="https://spos.tecdiary.com/settings">
            <i class="mdi mdi-settings"></i> Bicycle
        </a>
        <a class="btn btn-app" href="https://spos.tecdiary.com/reports">
            <i class="mdi mdi-newspaper"></i> EPR Equipment
        </a>
        

    </div>

</div>